@font-face {
    font-family: 'yantramanav';
    src: url('../fonts/yantramanav-thin-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'yantramanav';
    src: url('../fonts/yantramanav-light-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'yantramanav';
    src: url('../fonts/yantramanav-regular-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'nunito';
    src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
