/*	   typography   	*/

$body-font: 'yantramanav', arial, helvetica, sans-serif;
$nunito-font: 'nunito', arial, helvetica, sans-serif;

$fs-body: 16px;
$lh-body: 1.5;

$fs-h1: 60px;
$fs-h2: 30px;
$fs-h3: 24px;
$fs-h4: 16px;

/*	   end  typography   	*/


/*	   color   	*/

$body-color: #000;
$link-color: #1faa50;
$white-color: #fff;
$placeholder-color: #8c8c8c;

/*	   end  color   	*/


/*	   background   	*/

$body-bg: #fff;
$btn-bg: #20ab50;
$grey-bg: #e1e0e1;
$grey-bg2: #dcdcdc;
$footer-bg: #f3f3f3;

/*	   end  background   	*/